
.gpt3__features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  @media screen and (max-width: 990px) {
	flex-direction: column;
  }

  &-heading {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	text-align: left;
	margin-right: 5rem;
	@media screen and (max-width: 990px) {
	  margin: 0 0 2rem 0;
	}

	& h1 {
	  font-family: var(--font-family);
	  font-weight: 800;
	  font-size: 34px;
	  line-height: 45px;
	  @media screen and (max-width: 550px) {
		font-size: 28px;
		line-height: 38px;
	  }
	}

	& p {
	  font-family: var(--font-family);
	  font-weight: 500;
	  font-size: 16px;
	  line-height: 30px;
	  margin-top: 2rem;
	  color: #FF8A71;
	}
  }

  &-container {
	flex: 1.5;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
  }
}
