
/*************
PLACEHOLDERS
*************/
%gpt3__navbar-sign-button {
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  background: #ff4820;
  border: 0;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.gpt3__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  @media screen and (max-width: 700px) {
	padding: 2rem 4rem;
  }
  @media screen and (max-width: 550px) {
	padding: 2rem;
  }

  &-links {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&_logo {
	  margin-right: 2rem;

	  & img {
		width: 62.56px;
		height: 16.02px;
	  }
	}

	&_container {
	  display: flex;
	  flex-direction: row;
	  @media screen and (max-width: 1050px) {
		display: none;
	  }
	}
  }

  &-sign {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	@media screen and (max-width: 550px) {
	  display: none;
	}

	& button {
	  @extend %gpt3__navbar-sign-button
	}
  }

  &-menu {
	margin-left: 1rem;
	display: none;
	position: relative;
	@media screen and (max-width: 1050px) {
	  display: flex;
	}

	& svg {
	  cursor: pointer;
	}

	&_container {
	  display: flex;
	  justify-content: flex-end;
	  align-items: flex-end;
	  flex-direction: column;
	  text-align: end;
	  background: var(--color-footer);
	  padding: 2rem;
	  position: absolute;
	  top: 40px;
	  right: 0;
	  margin-top: 1rem;
	  min-width: 210px;
	  border-radius: 5px;
	  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	  @media screen and (max-width: 550px) {
		top: 20px
	  }

	  & p {
		margin: 1rem 0;
	  }

	  &-links-sign {
		display: none;
		@media screen and (max-width: 550px) {
		  display: block;
		}
	  }

	  & button {
		@extend %gpt3__navbar-sign-button;
	  }
	}
  }
}

:is(.gpt3__navbar-links_container, .gpt3__navbar-sign, .gpt3__navbar-menu_container) p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}
