
.gpt3__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-footer);
  color: #ffffff;

  &-heading {
	width: 100%;
	text-align: center;
	margin-bottom: 3rem;

	& h1 {
	  font-family: var(--font-family);
	  font-size: 62px;
	  line-height: 75px;
	  text-align: center;
	  letter-spacing: -0.04em;
	  @media screen and (max-width: 850px) {
		font-size: 44px;
		line-height: 50px;
	  }
	  @media screen and (max-width: 550px) {
		font-size: 34px;
		line-height: 42px;
	  }
	  @media screen and (max-width: 550px) {
		font-size: 27px;
		line-height: 38px;
	  }
	}
  }

  &-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border: 1px solid #ffffff;
	margin-bottom: 10rem;
	cursor: pointer;

	p {
	  color: #ffffff;
	  box-sizing: border-box;
	  font-family: var(--font-family);
	  font-size: 18px;
	  line-height: 21px;
	  word-spacing: 2px;
	  @media screen and (max-width: 550px) {
		font-size: 14px;
		line-height: 20px;
	  }
	}
  }

  &-links {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	text-align: left;

	& div {
	  width: 250px;
	  margin: 1rem;
	  @media screen and (max-width: 550px) {
		margin: 1rem 0;
	  }
	}

	&_logo {
	  display: flex;
	  flex-direction: column;

	  & img {
		width: 118px;
		height: 30px;
		margin-bottom: 1rem;
	  }

	  & p {
		font-family: var(--font-family);
		font-size: 12px;
		line-height: 14px;
		color: #ffffff;
	  }
	}

	&_div {
	  display: flex;
	  justify-content: flex-start;
	  flex-direction: column;

	  & h4 {
		font-family: var(--font-family);
		font-size: 14px;
		line-height: 16px;
		color: #ffffff;
		margin-bottom: 1rem;
	  }

	  & p {
		font-family: var(--font-family);
		font-size: 12px;
		line-height: 14px;
		color: #ffffff;
		margin: 0.5rem 0;
		cursor: pointer;
	  }
	}
  }

  &-copyright {
	margin-top: 2rem;
	text-align: center;
	width: 100%;

	& p {
	  font-family: var(--font-family);
	  font-size: 12px;
	  line-height: 14px;
	  color: #ffffff;
	}
  }
}
